// .HomePage {
//   background-image: url("/public/images/plums.jpg");
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position: center;

// }

.HomePage {
  background-size: 100vh 100vw;
  background-color: black;
  height: 100vh;
}