
.checklist {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: column;
  text-align: center;
  margin: 5vh 10vw 5vh 10vw;
  font-family: 'Raleway', sans-serif;
}
@media all and (min-width: 980px) {
  .checklist {
    margin: 0 25vw 5vh 25vw;
  }
}

.checklist__header {
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-size: 40px;
}

.checklist__sub-header{
  color: grey;
  font-size: 18px;
  opacity: 0.8;
  margin: 0vh 5vw 5vh 5vw;
}

.checklist__list {
  justify-content: left;
  text-align: left;
  font-size: 22px;
  padding-left: 0;
}
.checklist__item {
  display:inline-flex;
  list-style: none;
  align-items: center;
  justify-content: left;
  text-align: left;
  color: darkgreen;
  margin-bottom: 5vh;
}

.checklist--checkmark-img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}