.partners-section {
  display: flex;
  margin-top: 5vh;
  height: 40vh;
  width: 100vw;
  background-color: rgb(236, 243, 237);
}

.partners-section__container {
  display: inherit;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.partners-section__heading {
  color: black;
  margin-bottom: 25px;
}

.partners-section--action-logo {
  width: 110px;
  height: 35px;
}