.jumbotron--primary {
  background-size: cover;
  min-height: 70vh;
  font-family: 'Raleway', sans-serif;
  color: white;
  display: flex;
}


  .jumbotron--img {
    background-image: url(../../../images/seedlings.jpg);
  }

.jumbotron--primary .jumbotron__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.jumbotron--primary .jumbotron__heading {
  font-weight: bold;
  font-size: 45px;
  
}

.jumbotron--primary .jumbotron__caption {
  color: white;
  font-size: 30px;
}