.jumbotron {
  background-image: url(../../../images/seedlings.jpg);
  background-size: cover;
  min-height: 50vh;
  font-family: 'Raleway', sans-serif;
  color: white;
  display: flex;
}

.jumbotron .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.jumbotron h1 {
  font-weight: bold;
  font-size: 45px;
  
}

.jumbotron p {
  color: white;
  font-size: 30px;
}